/* Conteneur principal */
.sidenav-container {
  height: 100vh;
}

/* Sidenav */
.sidenav {
  width: 240px;
}

/* Toolbar */
.toolbar-title {
  font-size: 20px;
  margin-left: 8px;
}
.spacer {
  flex: 1 1 auto;
}

/* Zone principale avec effet de flou */
.main-content {
  padding: 16px;
  min-height: calc(100vh - 64px); /* en tenant compte de la hauteur de la toolbar */
  
  /* Effet de flou */
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.3); /* Rend le fond semi-transparent */
  border-radius: 10px; /* Ajoute un effet doux sur les bords */
}

/* Footer */
.footer {
  text-align: center;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent */
  font-size: 12px;
  backdrop-filter: blur(5px);
}

/* Ajout du fond animé */
.hero-video {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

/* GIF en fond qui couvre toute la zone */
.gif-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Assure que le GIF couvre toute la zone */
  z-index: -1;
}

/* Overlay pour lisibilité */
.hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Voile sombre pour améliorer la lisibilité */
}
